.segment {
  border-radius: 0 !important;
  margin: 20px;
}

.logo {
  width: 100%;
  height: auto;
}

.space {
  margin: 30px !important;
}

@media only screen and (max-width: 650px) {
  .right-menu {
    visibility: hidden;
  }
}

@media only screen and (min-width: 650px) {
  .mobile-menu {
    visibility: hidden;
  }
}

/* Footer */

.foot2 {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.foot {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6rem;
}
