div.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgb(204, 204, 204);
  background: rgba(0, 0, 0, 0.4);
  padding: 1vw;
}

.big {
  font-size: 4vw;
  line-height: 4vw;
  color: white;
  padding: 1vw;
}
.small {
  font-size: 1.5vw;
  line-height: 1.5vw;
  color: white;
  padding: 1vw;
}
.hero-image {
  position: relative;
  text-align: center;
}

/* Cards */

.cards {
  padding: 3vw;
}
